.hero {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  text-align: center;

  &-img {
    img {
      width: 100%;
    }
  }

  &-content {
    padding-inline: 1rem;
    order: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .sponsors {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;
      
      img {
        width: 100%;
      }
    }
  }
}
